<app-dashcontainer></app-dashcontainer>
<div class="container">
  <h1>Oficialia de Partes</h1>

  <!-- Formulario para agregar tarea -->
  <form>
    <input type="text" id="taskInput" placeholder="Nueva tarea..." required>
    <button type="submit">Agregar Oficio</button>
  </form>

  <h3>Tareas:</h3>
  <!-- Lista de tareas -->
  <ul class="task-list">
    <li>
      Oficio
      <div>
        <button>Eliminar</button>
        <button>Actualizar</button>
      </div>
    </li>
    <li>
     Oficio
      <div>
        <button>Eliminar</button>
        <button>Actualizar</button>
      </div>
    </li>
  </ul>
</div>

