.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mat-h1 {
    font-size: 24px; /* Ajusta el tamaño de la fuente a un tamaño adecuado */
    text-align: left; /* Alinea el texto hacia la izquierda */
    margin-left: 10px; /* Asegura un pequeño margen izquierdo para no estar pegado al borde */
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto coloca el logo a la izquierda */
    height: 60px; /* Ajusta la altura para que coincida con la de un menú */
  }
  
  mat-toolbar img {
    height: 50px; /* Ajusta el tamaño de la imagen (logo) */
    width: auto;
  }
  
  .centered-list a {
    text-align: center;
  }
 
  
  /* Contenedor para el calendario y formulario en dos columnas */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  gap: 20px; /* Espacio entre las columnas */
  align-items: start; /* Alinear los elementos al inicio */
  margin-top: 20px;
}

.calendario-wrapper {
  /* Asegura que el calendario se ajuste al tamaño adecuado */
  width: 90%;
  max-width: 85%;
}

.agregar-cita {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: flex-start;
}

@media (max-width: 768px) {
  /* En dispositivos pequeños, hacer una columna */
  .grid-container {
    grid-template-columns: 1fr; 
  }
}

.cita_item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.evento_item{
  flex-grow: 1;
  margin-left: 10px;
}

button{
  margin-left: 10px;
}