<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar><img src="transporte.png" alt="Logo"></mat-toolbar>
      <mat-nav-list class="centered-list">
        <a mat-list-item routerLink="/main">Inicio</a>
        <a mat-list-item routerLink="/oficio">Oficio</a>
        <a mat-list-item routerLink="/circular">Circulares</a>
        <a mat-list-item routerLink="/agenda">Agenda</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Sistema Integral de Oficialía de Partes</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesion</span>
          </button>
        </mat-menu>
      </mat-toolbar>
      <div>
        <h6>Agenda</h6>
       </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
  