.main-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos de la tarjeta (Card) */
.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.card h3 {
    margin-top: 0;
}

/* Estilos de un contenedor para alinear la tarjeta */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}