.navbar{
    position: initial;
    left: 250px;
}
@media (max-width: 768px) {
    .navbar {
      position: fixed; /* Fija el navbar en la parte superior */
      width: 100%; /* Hace que el navbar ocupe todo el ancho */

    }
  }