<div class="main-content">
    <div class="card-container">
        <div class="card">
            <table>
                <label for="name">Nombre:</label><br>
                <input type="text" id="name" name="name" required><br><br>
                <label for="email">Correo:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <button type="submit" class="btn btn-add">Agregar Usuario</button>
            </table>
        </div>
    </div>
</div>
