.sidebar {
    height: 100%;
    width: 250px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
  }
  
  .sidebar-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar-nav li {
    padding: 10px;
    text-align: center;
  }
  
  .sidebar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }
  
  .sidebar-nav a:hover {
    background-color: #444;
  }
  
  .active {
    font-weight: bold;
    background-color: #555;
  }
  
  img{
    width: 190px;
    height: 50px;
    align-items: center;
    margin-top: 0;
  
  }