 
<aside class="sidebar">
    <div class="sidebar-header">
        <img class="container" src="transporte.png" alt="">
    </div>
    <nav class="sidebar-nav">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/settings" routerLinkActive="active">Agenda</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Oficios</a></li>
        <li><a routerLink="/reports" routerLinkActive="active">Circulares</a></li>
      </ul>
    </nav>
  </aside>
  



  