<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="ofipa.png" alt="Logo"></mat-toolbar>
    <mat-nav-list class="centered-list">
      <a mat-list-item routerLink="/main">Inicio</a>
      <a mat-list-item routerLink="/oficio">Oficio</a>
      <!-- <a mat-list-item routerLink="/circular">Circulares</a> -->
      <a mat-list-item routerLink="/agenda">Agenda</a>
      <!-- <a mat-list-item routerLink="/report">Reportes</a> -->
      <a mat-list-item routerLink="/user">Permisos y Roles</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sistema Integral de Oficialía de Partes</span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div>
      <h6>Roles del Usuario</h6>
     </div>
     <div class="content">
      <mat-table [dataSource]="usuarios" class="mat-elevation-z8">
        
        <!-- Columna de ID (oculta) -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
          <mat-cell *matCellDef="let user" > {{ user.id }} </mat-cell>
        </ng-container>

        <!-- Columna de Email -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{ user.email }} </mat-cell>
        </ng-container>

        <!-- Columna de Roles -->
        <ng-container matColumnDef="rol">
          <mat-header-cell *matHeaderCellDef> Rol </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <!-- Mat-select para elegir el rol -->
            <mat-select [(ngModel)]="user.id_roles" (selectionChange)="actualizarRol(user)">
              <mat-option *ngFor="let rol of roles" [value]="rol.id">
                {{ rol.nombre }}
              </mat-option>
            </mat-select>
          </mat-cell>
        </ng-container>

        <!-- Filas de la tabla -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        
      </mat-table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
