.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mat-h1 {
    font-size: 24px; /* Ajusta el tamaño de la fuente a un tamaño adecuado */
    text-align: left; /* Alinea el texto hacia la izquierda */
    margin-left: 10px; /* Asegura un pequeño margen izquierdo para no estar pegado al borde */
  }
  
  mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto coloca el logo a la izquierda */
    height: 60px; /* Ajusta la altura para que coincida con la de un menú */
  }
  
  mat-toolbar img {
    height: 50px; /* Ajusta el tamaño de la imagen (logo) */
    width: auto;
  }
  
  .centered-list a {
    text-align: center;
  }
  
   /* Estilo del formulario */
   form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  .acuse-form-card {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .button-container {
    text-align: right;
  }
  
  .table-container {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  .full-width-table {
    width: 100%;
    overflow-x: auto;
  }
  .acuse-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .header .logo {
    display: flex;
    align-items: center;
  }
  
  .header img {
    width: 50px;
    margin-right: 10px;
  }
  
  .header .title {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
  
  .body {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .body .field {
    margin-bottom: 10px;
  }
  
  .body .field label {
    font-weight: bold;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  
  .footer .signature {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
  }
  
  footer p {
    margin: 0;
  }
  