<app-nav></app-nav>

<aside class="sidebar bg-dark text-white d-flex flex-column vh-100 p-3">
  <!-- Header de la barra lateral -->
  <div class="sidebar-header mb-4">
    <img src="transporte.png" alt="Logo" class="img-fluid" />
  </div>

  <!-- Menú lateral (nav) -->
  <nav class="sidebar-nav">
    <ul class="nav flex-column">
      <!-- Enlace a la página de inicio -->
      <li class="nav-item">
        <a 
          class="nav-link text-white" 
          routerLink="/dashboard" 
          routerLinkActive="active"
          aria-label="Ir al Dashboard"
        >
          <i class="bi bi-house-door"></i> Inicio
        </a>
      </li>

      <!-- Enlace a la página de agenda -->
      <li class="nav-item">
        <a 
          class="nav-link text-white" 
          routerLink="/agenda" 
          routerLinkActive="active"
          aria-label="Ir a la Agenda"
        >
          <i class="bi bi-calendar"></i> Agenda
        </a>
      </li>

      <!-- Enlace a la página de oficios -->
      <li class="nav-item">
        <a 
          class="nav-link text-white" 
          routerLink="/ofice" 
          routerLinkActive="active"
          aria-label="Ir a los Oficios"
        >
          <i class="bi bi-person"></i> Oficios
        </a>
      </li>

      <!-- Enlace a la página de circulares -->
      <li class="nav-item">
        <a 
          class="nav-link text-white" 
          routerLink="/reports" 
          routerLinkActive="active"
          aria-label="Ir a las Circulares"
        >
          <i class="bi bi-file-earmark-text"></i> Circulares
        </a>
      </li>
    </ul>
  </nav>
</aside>
