<div class="container">
  
    <!-- Buscador -->
    <!-- <div class="mb-4">
      <input type="text" class="form-control" id="searchInput" placeholder="Buscar..." onkeyup="searchFunction()">
    </div> -->
  
    <!-- Lista de elementos -->
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>N° Oficio</th>
                <th>Dependencia</th>
                <th>Estatus</th>
                <th>Acciones</th>
            </tr>
          
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr> 
    </table>
  </div>
  